.name {
    height: 30px;
    margin: 5px;
    text-align: center;
}

.stopwatch-card {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.07);
  padding: 12px;
}

.stopwatch-card-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stopwatch-display-panel {
  margin-top: 4px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
}